.metamaskAvert{
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    z-index: 999999;
    color: white;
}