img {
    /* height: auto !important;
    width: 200px !important; */
    object-fit: cover !important;
    height: 200px !important;
}

.cardImg {
    /* height: 200px !important; */

}

.badgesty{
    position: absolute !important;
    top: 10px !important;
}